version: "3.1"
services:

    mysql:
      image: mysql:8
      container_name: mysql-docker-taskluejs
      working_dir: /application
      volumes:
        - ./.data/db:/var/lib/mysql
        - ./docker/mysql/custom:/etc/mysql/conf.d
        - ./docker/mysql/sql:/docker-entrypoint-initdb.d
      environment:
        - MYSQL_ROOT_PASSWORD=dbrootpw
        - MYSQL_DATABASE=tasklue
        - MYSQL_USER=dbuser
        - MYSQL_PASSWORD=dbpw
      ports:
        - "8002:3306"
