
<div class="row h-100 text-center align-items-center justify-content-center flex-column">
  <div>
    <h1 class="h1">
      Login page
    </h1>
  </div>
  <div class="px-auto w-50 mx-auto">
    <form action="/login" method="post">
      {{{csrf_input_token}}}
      <div class="form-group vertical-input-groups">
        <div class="input-group">
          <input type="email" name="email" id="inputEmail" class="form-control" required="true" placeholder="Email">
        </div>
        <div class="input-group">
          <input type="password" name="password" id="inputPassword" class="form-control" required="true" placeholder="Contraseña">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>
