@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

html {
  height: 100vh;
}

body {
  height: 100%;
  padding-top: 4.5rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.vertical-input-groups .input-group:first-child {
  padding-bottom: 0;
}

.vertical-input-groups .input-group:first-child * {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vertical-input-groups .input-group:last-child {
  padding-top: 0;
}

.vertical-input-groups .input-group:last-child *{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.vertical-input-groups .input-group:not(:last-child):not(:first-child) {
  padding-top: 0;
  padding-bottom: 0;
}

.vertical-input-groups .input-group:not(:last-child):not(:first-child) * {
  border-radius: 0;
}

.vertical-input-groups .input-group:not(:first-child) * {
  border-top: 0;
}

.input-with-field-icon {
  position: relative;

  .field-icon {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    cursor: pointer;
  }
}
